<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 27</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>이름: <%= userInfoPrac27.name %></li>
      <li>성별: <%= userInfoPrac27.gender %></li>
      <li>취미: <%= userInfoPrac27.hobby %></li>
      <li>좋아하는 색: <%= userInfoPrac27.color %></li>
      <li>좋아하는 숫자: <%= userInfoPrac27.number %></li>
    </ul>
    <a href="/prac27">홈으로 이동하기</a>
  </body>
</html>
